<%- include ('../partials/header.ejs')%>
<%- include ('../partials/navbar.ejs')%>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1>Cadastro de categoria</h1>
                </div>
                <div class="card-body">
                    <form>
                        <label>Título: </label>
                        <input type="text" name="title" class="form-control"><br>
                        <button class="btn btn-success float-right">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer.ejs')%>